body {
    background-color: #999;
}

h1,
h2,
h3,
h4 {
    color:373737;
}

.header {
    color: #373737;
}

/*multiple pages*/

.page-header {
    padding-top: 30px;
    margin-bottom: 50px;
    background-color: #5adae2;
    color: #FFF;

}

.page-header p {
    padding-left: 15px;
}

/* home page */

.page-header.home {
    margin-bottom: 0;
}

.message  {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #5adae2;
}

.message h3 {
    color: #FFF
}

.contextbox {
    background-color: #FFF;
    padding: 10px;
    margin-bottom: 70px;
}

.contentbox li {
    color: #373737;
}

.contentbox-beige {
    background-color: #f9f8f8;
    padding: 10px;
    margin-bottom: 70px;
}

.contentbox-turquoise {
    background-color: #5adae2;
    padding: 10px;
    margin-bottom: 70px;
}

.contentbox>img {
    float: left;
    margin-right: 15px;
}

.content-beige>img {
    float: left;
    margin-right: 15px;
}

.tile {
    background-color: #5adae2;
    color: #FFF;
    padding: 10px;
    margin-bottom: 10px;
}

.main-content-top h1 {
    padding-top: 70px;
    padding-bottom: 70px;
}

.main-content-bottom {
    padding-bottom: 75px;
}

.blog-tease {
    color: #FFF;
    height: 210px;
}

.blog-tease h2 {
    color: #FFF;
}

/*about page*/

.team h1 {
    margin-bottom: 40px;
}

.team-member {
    margin-bottom: 20px;
}

/*portfolio page*/

.portfolio-item {
    margin-bottom: 10px;
}

.portfolio-title {
    display: none; /* hide portfolio image text */
}

/*blog page*/

.info li {
    display: inline-block;
}

.sidebar {
    padding: 10px;
}

.recent-entries img {
    float: left;
    padding-right: 10px;
}

.photos img {
    padding-right: 10px;
    padding-bottom: 10px;
}

/*contact page*/

.table,
.form p,
.map h2 {
    margin-left: 15px;
}


.main {
    background-color: #edecea;
}

.container {
    width: 960px;
    margin-right: auto;
    margin-left: auto;
}

.column {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

.row {
    overflow: hidden;
}

.one-whole {
    width: 940px;
}

.one-quarter {
    width: 220px;
}

.three-quarters {
    width: 700px;
}

.one-half {
    width: 460px;
}

.two-thirds {
    width: 620px;
}

.one-third {
    width: 300px;
}

.one-sixth {
    width: 140px;
}

.alpha {
    margin-left: 0;
}

.omega {
    margin-right: 0;
}

nav ul li {
    display: inline-block;
}

ul {
    list-style: none;
    padding: 0px;
}

.img-responsive {
    max-width: 100%;
    height: auto;
}

/* header */

.brand {
    padding-top: 45px;
    padding-bottom: 45px;
}

.nav {
    padding-top: 60px;
}

.pull-right {
    float: right;
}

/*footer*/

.social {
    text-align: center;
}

.footer {
    background-color: #373737;
}

.footer h4 {
    color: #FFF;
}

.footer p {
    color: #999;
}

.footer-bottom {
    color: #373737;
}

.footer-bottom h4 {
    color: #FFF;
}
